h1{
    text-align: center;
}
h3{
    text-align: center;
}
.startButton{
    text-align: center;
}
/* #froggy{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
} */